@import "tailwindcss";
:root {
  --brown1:
    #423d3c, --brown2: #383231, --brown3: #2d2726, --brown4: #292424,
    browen5: #221e1e, --Primary: #f59c5c, --Primary-Light: #f7b687,
    --White: #ffffff, --Gray: #c8c9c9, --Accent-Light: #659477,
    --Accent: #3b8256, --Accent-Dark: #23412f, --Red: #7e3e3f,
    --Burnt-Orange: #875c36, --Teal: #377e86;
}
